LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_csn" SITE "R2";
IOBUF PORT "flash_csn" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_mosi" SITE "W2";
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_miso" SITE "V2";
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "A13";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_data" SITE "K5";
IOBUF PORT "joy_data" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_clock" SITE "M5";
IOBUF PORT "joy_clock" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_strobe" SITE "L3";
IOBUF PORT "joy_strobe" IO_TYPE=LVCMOS33;

LOCATE COMP "scanlines" SITE "J1";
IOBUF PORT "scanlines" IO_TYPE=LVCMOS33;

LOCATE COMP "mode" SITE "H1";
IOBUF PORT "mode" IO_TYPE=LVCMOS33;

LOCATE COMP "overscan" SITE "K1";
IOBUF PORT "overscan" IO_TYPE=LVCMOS33;

LOCATE COMP "pallete" SITE "E15";
IOBUF PORT "pallete" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_HS" SITE "A15";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_VS" SITE "F1";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[2]" SITE "G1";
IOBUF PORT "VGA_B[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[1]" SITE "J5";
IOBUF PORT "VGA_B[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[0]" SITE "K3";
IOBUF PORT "VGA_B[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[2]" SITE "H2";
IOBUF PORT "VGA_G[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[1]" SITE "J4";
IOBUF PORT "VGA_G[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[0]" SITE "J3";
IOBUF PORT "VGA_G[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[2]" SITE "L4";
IOBUF PORT "VGA_R[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[1]" SITE "M4";
IOBUF PORT "VGA_R[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[0]" SITE "N4";
IOBUF PORT "VGA_R[0]" IO_TYPE=LVCMOS33;
