LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_csn" SITE "R2";
IOBUF PORT "flash_csn" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_mosi" SITE "W2";
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_miso" SITE "V2";
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "B2";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "D6";
IOBUF PORT "btn" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "joy_data" SITE "C11";
IOBUF PORT "joy_data" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_clock" SITE "A11";
IOBUF PORT "joy_clock" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_strobe" SITE "B10";
IOBUF PORT "joy_strobe" IO_TYPE=LVCMOS33;

LOCATE COMP "scanlines" SITE "E8";
IOBUF PORT "scanlines" IO_TYPE=LVCMOS33;

LOCATE COMP "mode" SITE "D8";
IOBUF PORT "mode" IO_TYPE=LVCMOS33;

LOCATE COMP "overscan" SITE "D7";
IOBUF PORT "overscan" IO_TYPE=LVCMOS33;

LOCATE COMP "pallete" SITE "E7";
IOBUF PORT "pallete" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_HS" SITE "L16";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_VS" SITE "N16";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[0]" SITE "D16";
IOBUF PORT "VGA_R[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[1]" SITE "C17";
IOBUF PORT "VGA_R[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[2]" SITE "C15";
IOBUF PORT "VGA_R[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[3]" SITE "D17";
IOBUF PORT "VGA_R[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[0]" SITE "C16";
IOBUF PORT "VGA_B[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[1]" SITE "B17";
IOBUF PORT "VGA_B[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[2]" SITE "B15";
IOBUF PORT "VGA_B[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[3]" SITE "C18";
IOBUF PORT "VGA_B[3]" IO_TYPE=LVCMOS33;


LOCATE COMP "VGA_G[0]" SITE "L17";
IOBUF PORT "VGA_G[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[1]" SITE "M17";
IOBUF PORT "VGA_G[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[2]" SITE "P16";
IOBUF PORT "VGA_G[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[3]" SITE "U17";
IOBUF PORT "VGA_G[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[3]" SITE "B3";
IOBUF PORT "audio_sample[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[2]" SITE "C3";
IOBUF PORT "audio_sample[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[1]" SITE "D3";
IOBUF PORT "audio_sample[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[0]" SITE "E4";
IOBUF PORT "audio_sample[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[7]" SITE "C5";
IOBUF PORT "audio_sample[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[6]" SITE "D5";
IOBUF PORT "audio_sample[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[5]" SITE "B5";
IOBUF PORT "audio_sample[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[4]" SITE "A3";
IOBUF PORT "audio_sample[4]" IO_TYPE=LVCMOS33;
