#
LOCATE COMP "clk25" SITE "G2";
IOBUF PORT "clk25" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk25" 25 MHZ;

LOCATE COMP "flash_csn" SITE "R2";
IOBUF PORT "flash_csn" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_mosi" SITE "W2";
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_miso" SITE "V2";
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn_start" SITE "D6";
IOBUF PORT "btn_start" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "btn_a" SITE "R1";  # FIRE1
LOCATE COMP "btn_b" SITE "T1";  # FIRE2
LOCATE COMP "btn_up" SITE "R18"; # UP
LOCATE COMP "btn_down" SITE "V1";  # DOWN
LOCATE COMP "btn_left" SITE "U1";  # LEFT
LOCATE COMP "btn_right" SITE "H16"; # RIGHT
IOBUF  PORT "btn_a" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn_b" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn_up" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn_down" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn_left" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;


LOCATE COMP "joy_data" SITE "C11";
IOBUF PORT "joy_data" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_clock" SITE "A11";
IOBUF PORT "joy_clock" IO_TYPE=LVCMOS33;

LOCATE COMP "joy_strobe" SITE "B10";
IOBUF PORT "joy_strobe" IO_TYPE=LVCMOS33;

LOCATE COMP "use_external_nes_joypad" SITE "E8";
IOBUF PORT "use_external_nes_joypad" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_HS" SITE "L16";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_VS" SITE "N16";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[0]" SITE "D16";
IOBUF PORT "VGA_R[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[1]" SITE "C17";
IOBUF PORT "VGA_R[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[2]" SITE "C15";
IOBUF PORT "VGA_R[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_R[3]" SITE "D17";
IOBUF PORT "VGA_R[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[0]" SITE "C16";
IOBUF PORT "VGA_B[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[1]" SITE "B17";
IOBUF PORT "VGA_B[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[2]" SITE "B15";
IOBUF PORT "VGA_B[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_B[3]" SITE "C18";
IOBUF PORT "VGA_B[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[0]" SITE "L17";
IOBUF PORT "VGA_G[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[1]" SITE "M17";
IOBUF PORT "VGA_G[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[2]" SITE "P16";
IOBUF PORT "VGA_G[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "VGA_G[3]" SITE "U17";
IOBUF PORT "VGA_G[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[3]" SITE "B3";
IOBUF PORT "audio_sample[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[2]" SITE "C3";
IOBUF PORT "audio_sample[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[1]" SITE "D3";
IOBUF PORT "audio_sample[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[0]" SITE "E4";
IOBUF PORT "audio_sample[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[7]" SITE "C5";
IOBUF PORT "audio_sample[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[6]" SITE "D5";
IOBUF PORT "audio_sample[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[5]" SITE "B5";
IOBUF PORT "audio_sample[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "audio_sample[4]" SITE "A3";
IOBUF PORT "audio_sample[4]" IO_TYPE=LVCMOS33;


## SDRAM "ram" sheet
LOCATE COMP "sdram_clk" SITE "F19";
LOCATE COMP "sdram_cke" SITE "F20";
LOCATE COMP "sdram_csn" SITE "P20";
LOCATE COMP "sdram_wen" SITE "T20";
LOCATE COMP "sdram_rasn" SITE "R20";
LOCATE COMP "sdram_casn" SITE "T19";
LOCATE COMP "sdram_a[0]" SITE "M20";
LOCATE COMP "sdram_a[1]" SITE "M19";
LOCATE COMP "sdram_a[2]" SITE "L20";
LOCATE COMP "sdram_a[3]" SITE "L19";
LOCATE COMP "sdram_a[4]" SITE "K20";
LOCATE COMP "sdram_a[5]" SITE "K19";
LOCATE COMP "sdram_a[6]" SITE "K18";
LOCATE COMP "sdram_a[7]" SITE "J20";
LOCATE COMP "sdram_a[8]" SITE "J19";
LOCATE COMP "sdram_a[9]" SITE "H20";
LOCATE COMP "sdram_a[10]" SITE "N19";
LOCATE COMP "sdram_a[11]" SITE "G20";
LOCATE COMP "sdram_a[12]" SITE "G19";
LOCATE COMP "sdram_ba[0]" SITE "P19";
LOCATE COMP "sdram_ba[1]" SITE "N20";
LOCATE COMP "sdram_dqm[0]" SITE "U19";
LOCATE COMP "sdram_dqm[1]" SITE "E20";
LOCATE COMP "sdram_d[0]" SITE "J16";
LOCATE COMP "sdram_d[1]" SITE "L18";
LOCATE COMP "sdram_d[2]" SITE "M18";
LOCATE COMP "sdram_d[3]" SITE "N18";
LOCATE COMP "sdram_d[4]" SITE "P18";
LOCATE COMP "sdram_d[5]" SITE "T18";
LOCATE COMP "sdram_d[6]" SITE "T17";
LOCATE COMP "sdram_d[7]" SITE "U20";
LOCATE COMP "sdram_d[8]" SITE "E19";
LOCATE COMP "sdram_d[9]" SITE "D20";
LOCATE COMP "sdram_d[10]" SITE "D19";
LOCATE COMP "sdram_d[11]" SITE "C20";
LOCATE COMP "sdram_d[12]" SITE "E18";
LOCATE COMP "sdram_d[13]" SITE "F18";
LOCATE COMP "sdram_d[14]" SITE "J18";
LOCATE COMP "sdram_d[15]" SITE "J17";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_csn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "B16"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "C14"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "A13"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "B18"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D;

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "E16"; # single ended or differential input only
LOCATE COMP "usb_fpga_dn" SITE "F16";
IOBUF  PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "usb_fpga_bd_dp" SITE "D15"; # differential bidirectional
LOCATE COMP "usb_fpga_bd_dn" SITE "E15";
IOBUF  PORT "usb_fpga_bd_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "usb_fpga_bd_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_fpga_pu_dp" SITE "B12"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "C12";
IOBUF  PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
